openapi: 3.0.3
info:
  title: FonteNews Automation Gateway
  version: 1.0.0
servers:
  - url: https://api.fontedevida.org
paths:
  /api/maintenance/toggle:
    post:
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isActive:
                  type: boolean
                redirectUrl:
                  type: string
      responses:
        '200':
          description: ok
  /api/announcements:
    post:
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: ok
  /api/youtube-live/sync:
    post:
      security:
        - bearerAuth: []
      responses:
        '200':
          description: ok
  /api/prayers:
    post:
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                privacy:
                  type: string
      responses:
        '200':
          description: ok
  /api/forms/submit:
    post:
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                formId:
                  type: string
      responses:
        '200':
          description: ok
  /api/appointments:
    post:
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                date:
                  type: string
                requester:
                  type: string
                contact:
                  type: string
                notes:
                  type: string
      responses:
        '200':
          description: ok
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
